@model MyCrm.Domain.ViewModels.Company.CreateCompanyViewModel
@{
    ViewData["Title"] = "ساخت شرکت";
}

@section custom_js
    {
    <partial name="_JqueryValidators" />
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ساخت شرکت</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="Name"> </label>
                                <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Code"></label>
                                <input asp-for="Code" class="form-control">
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="City"></label>
                                <input asp-for="City" class="form-control">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Phone"></label>
                                <input asp-for="Phone" class="form-control">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Reagent"></label>
                                <input asp-for="Reagent" class="form-control">
                                <span asp-validation-for="Reagent" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="AgentName"></label>
                                <input asp-for="AgentName" class="form-control">
                                <span asp-validation-for="AgentName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" class="form-control">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Description"></label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
