@using MyCrm.Domains.Entities.Account
@model MyCrm.Domains.ViewModels.User.AddMarketerViewModel
@{
    ViewData["Title"] = "ثبت بازاریاب";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">فیلتر</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="UserName"> </label>
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="MobilePhone"></label>
                                <input asp-for="MobilePhone" class="form-control">
                                <span asp-validation-for="MobilePhone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IntroduceName"></label>
                                <input asp-for="IntroduceName" class="form-control">
                                <span asp-validation-for="IntroduceName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="FieldStudy"></label>
                                <input asp-for="FieldStudy" class="form-control">
                                <span asp-validation-for="FieldStudy" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>سن</label>
                                <input asp-for="Age" value="0" class="form-control">
                                <span asp-validation-for="Age" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-6">
                                <label asp-for="IrCode"></label>
                                <input asp-for="IrCode" class="form-control">
                                <span asp-validation-for="IrCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Education"></label>
                                <select class="form-control" asp-for="Education" asp-items="@Html.GetEnumSelectList<Education>()"></select>
                                <span asp-validation-for="Education" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="MainImage" class="btn btn-primary  d-block">
                                    <span>تصویر پروفایل</span>
                                </label>
                                <input ImageInput="1" type="file" name="MainImage" id="MainImage" class="d-none" />
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <img ImageFile="1" style="max-width: 300px" />
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Vertical Layout -->
@section Custom_js
    {
    <partial name="_JqueryValidators" />
}
