@using MyCrm.Application.Static_Tools;
@model MyCrm.Domain.ViewModels.User.AddCustomerViewModel
@{
    ViewData["Title"] = "Edit مشتری";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Edit مشتری</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search" enctype="multipart/form-data">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="UserName"> </label>
                                <input asp-for="UserName" class="form-control">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group col-md-6">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="MobilePhone"></label>
                                <input asp-for="MobilePhone" class="form-control">
                                <span asp-validation-for="MobilePhone" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="IntroduceName"></label>
                                <input asp-for="IntroduceName" class="form-control">
                                <span asp-validation-for="IntroduceName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Job"></label>
                                <input asp-for="Job" class="form-control">
                                <span asp-validation-for="Job" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>نام شرکت</label>
                                <input asp-for="CompanyName" class="form-control">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="MainImage" class="btn btn-primary">
                                    <span>تصویر پروفایل</span>
                                </label>
                                <input ImageInput="1" type="file" name="imageProfile" id="MainImage" class="d-none" />
                            </div>
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                @if (Model.ImageName != null)
                                {
                                    <img src="@FilePath.UploadImageProfile@Model.ImageName" ImageFile="1" style="max-width: 300px" />


                                }
                                else
                                {
                                    <img  ImageFile="@FilePath.UserProfileDefault" style="max-width : 300px" />
                                }
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Vertical Layout -->
@section Custom_js
    {
    <partial name="_JqueryValidators" />
}


