@model MyCrm.Domain.ViewModels.Leads.CreateLeadViewModel
@{
    ViewData["Title"] = "ساخت سرنخ";
}

@section custom_js
    {
    <partial name="_JqueryValidators" />
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ساخت سرنخ</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search">

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>عنوان </label>
                                <input asp-for="Topic" class="form-control">
                                <span asp-validation-for="Topic" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="FirstName"></label>
                                <input asp-for="FirstName" class="form-control" autocomplete="off">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="LastName"></label>
                                <input asp-for="LastName" class="form-control " autocomplete="off">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Company"></label>
                                <input asp-for="Company" class="form-control" autocomplete="off">
                                <span asp-validation-for="Company" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="Mobile"></label>
                                <input asp-for="Mobile" class="form-control" autocomplete="off">
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                            @*<div class="form-group col-md-12">
                            <label>نوع رویداد</label>
                            <select asp-for="Content" asp-items="@(Html.GetEnumSelectList<EventType>())" class="form-control"></select>
                            <span asp-validation-for="EventType" class="text-danger"></span>
                            </div>*@
                            <div class="form-group col-md-12">
                                <label>توضیحات</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

