<aside id="leftsidebar" class="sidebar">
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <div class="image"><a href="profile.html"><img src="assets/images/profile_av.jpg" alt="کاربر"></a></div>
                    <div class="detail">
                        <h4>حمید مجیدی</h4>
                        <small> طراح UI UX </small>
                    </div>
                    <a href="events.html" title="رویدادها"><i class="zmdi zmdi-calendar"></i></a>
                    <a href="mail-inbox.html" title="صندوق ورودی"><i class="zmdi zmdi-email"></i></a>
                    <a href="contact.html" title="لیست مخاطبین"><i class="zmdi zmdi-account-box-phone"></i></a>
                    <a href="chat.html" title="برنامه چت"><i class="zmdi zmdi-comments"></i></a>
                    <a href="sign-in.html" title="خروج از سیستم"><i class="zmdi zmdi-power"></i></a>
                </div>
            </li>
            <li class="header">اصلی</li>
            <li class="active open">
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-home"></i><span>داشبورد</span></a>
                <ul class="ml-menu">
                    <li class="active"><a href="index.html">اصلی</a> </li>
                    <li><a href="dashboard-rtl.html"> راست به چپ </a></li>
                    <li><a href="index2.html"> افقی </a></li>
                    <li><a href="ec-dashboard.html"> تجارت الکترونیک </a></li>
                    <li><a href="blog-dashboard.html">وبلاگ</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-apps"></i><span>برنامه</span> </a>
                <ul class="ml-menu">
                    <li><a href="mail-inbox.html"> صندوق ورودی </a></li>
                    <li><a href="chat.html">چت</a></li>
                    <li><a href="events.html">تقویم</a></li>
                    <li><a href="file-dashboard.html">مدیر فایل</a></li>
                    <li><a href="contact.html">لیست مخاطبین</a></li>
                    <li><a href="blog-dashboard.html">وبلاگ</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-swap-alt"></i><span>رابط کاربری (UI )</span> </a>
                <ul class="ml-menu">
                    <li> <a href="ui_kit.html">کیت رابط کاربری (UI KIT)</a> </li>
                    <li> <a href="alerts.html">هشدارها (Alerts)</a> </li>
                    <li> <a href="collapse.html">کلپس (Collapse)</a> </li>
                    <li> <a href="colors.html">رنگها (Colors)</a> </li>
                    <li> <a href="dialogs.html">دیالوگ ها (Dialogs)</a> </li>
                    <li> <a href="icons.html">آیکون ها (Icons)</a> </li>
                    <li> <a href="list-group.html">گروه لیست (List Group)</a> </li>
                    <li> <a href="media-object.html">شی رسانه ای (Media Object)</a> </li>
                    <li> <a href="modals.html">مدالها (Modals)</a> </li>
                    <li> <a href="notifications.html">اعلان ها (Notifications)</a></li>
                    <li> <a href="progressbars.html">نوارهای پیشرفت (Progress Bars)</a></li>
                    <li> <a href="range-sliders.html">محدوده های کشویی (Range Sliders)</a></li>
                    <li> <a href="sortable-nestable.html">قابل مرتب سازی و قابل جابجایی (Sortable & Nestable)</a></li>
                    <li> <a href="tabs.html">برگه ها (Tabs)</a></li>
                    <li> <a href="waves.html">امواج (Waves)</a></li>
                </ul>
            </li>
            <li class="header">فرم ها ، نمودارها ، جداول</li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-assignment"></i><span>فرم ها</span> </a>
                <ul class="ml-menu">
                    <li><a href="basic-form-elements.html"> عناصر فرم اصلی </a> </li>
                    <li><a href="advanced-form-elements.html"> عناصر فرم پیشرفته </a> </li>
                    <li><a href="form-examples.html">نمونه فرم</a> </li>
                    <li><a href="form-validation.html">اعتبار سنجی فرم </a> </li>
                    <li><a href="form-wizard.html">فرم ویزارد</a> </li>
                    <li><a href="form-editors.html">ویرایشگر ها</a> </li>
                    <li><a href="form-upload.html"> بارگذاری پرونده  </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-grid"></i><span> جداول </span> </a>
                <ul class="ml-menu">
                    <li> <a href="normal-tables.html"> جداول عادی </a> </li>
                    <li> <a href="jquery-datatable.html">جداول داده Jquery </a> </li>
                    <li> <a href="editable-table.html">جداول قابل ویرایش</a> </li>
                    <li> <a href="footable.html">جداول Foo</a> </li>
                    <li> <a href="table-color.html"> جداول رنگ</a> </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-chart"></i><span> نمودارها </span> </a>
                <ul class="ml-menu">
                    <li> <a href="morris.html">Morris</a> </li>
                    <li> <a href="flot.html">نمودار Flot</a> </li>
                    <li> <a href="chartjs.html">نمودار جاوااسکریپت</a> </li>
                    <li> <a href="sparkline.html">Sparkline</a> </li>
                    <li> <a href="jquery-knob.html">Jquery Knob</a> </li>
                </ul>
            </li>
            <li class="header">اجزای اضافی</li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-shopping-cart"></i><span> تجارت الکترونیک </span> </a>
                <ul class="ml-menu">
                    <li> <a href="ec-dashboard.html">داشبورد</a></li>
                    <li> <a href="ec-product.html">محصول</a></li>
                    <li> <a href="ec-product-List.html"> لیست محصولات </a></li>
                    <li> <a href="ec-product-detail.html"> جزئیات محصول </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-delicious"></i><span>ابزارک ها</span> </a>
                <ul class="ml-menu">
                    <li><a href="widgets-app.html"> ابزارک برنامه </a></li>
                    <li><a href="widgets-data.html"> ابزارک داده </a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-lock"></i><span> احراز هویت </span> </a>
                <ul class="ml-menu">
                    <li><a href="sign-in.html">ورود</a> </li>
                    <li><a href="sign-up.html">ثبت نام</a> </li>
                    <li><a href="forgot-password.html">فراموشی رمز عبور</a> </li>
                    <li><a href="404.html">صفحه 404</a> </li>
                    <li><a href="500.html">صفحه 500</a> </li>
                    <li><a href="page-offline.html">صفحه آفلاین</a> </li>
                    <li><a href="locked.html">صفحه قفل شده</a> </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-copy"></i><span>صفحات نمونه</span> </a>
                <ul class="ml-menu">
                    <li><a href="blank.html">صفحه خالی</a> </li>
                    <li> <a href="image-gallery.html">گالری تصاویر</a> </li>
                    <li><a href="profile.html">پروفایل</a></li>
                    <li><a href="timeline.html">جدول زمانی</a></li>
                    <li><a href="pricing.html">قیمت گذاری</a></li>
                    <li><a href="invoices.html">فاکتورها</a></li>
                    <li><a href="search-results.html">نتایج جستجو</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle"><i class="zmdi zmdi-map"></i><span> نقشه ها </span> </a>
                <ul class="ml-menu">
                    <li> <a href="google.html">نقشه Google </a> </li>
                    <li> <a href="yandex.html">نقشه Yandex</a> </li>
                    <li> <a href="jvectormap.html">نقشه jVector</a> </li>
                </ul>
            </li>
            <li class="header">بیشتر</li>
            <li>
                <div class="progress-container progress-primary m-t-10">
                    <span class="progress-badge">ترافیک این ماه</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                            <span class="progress-value">67%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-info">
                    <span class="progress-badge">بار سرور</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
                            <span class="progress-value">86%</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>