@using MyCrm.Application.Extensions
@using MyCrm.Domain.Entities.Account
@model MyCrm.Domain.ViewModels.Orders.OrderSelectMarketerViewModel

@{
    var marketerList = ViewBag.Marketers as List<Marketer>;
}



<input type="hidden" asp-for="OrderId"/>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label asp-for="Description"> </label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label >انتخاب بازاریاب</label>
            <select class="form-control" asp-for="MarketerId">
                @foreach (var marketer in marketerList)
                {
                    <option value="@marketer.UserId">@marketer.User.GetUserShowName()</option>
                }
            </select>
            <span asp-validation-for="MarketerId" class="text-danger"></span>
        </div>
    </div> 