@model MyCrm.Domains.ViewModels.MarketingAction.CreateMarketingActionViewModel
@{
    ViewData["Title"] = "ساخت عملیات بازاریابی";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ساخت اکشن</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search">
                        <input type="hidden" asp-for="CrmTaskId"/>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>توضیحات</label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                        </div>

                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

